{% load static %}
<!DOCTYPE html>
<html>
   <head>
        <link rel="stylesheet" type="text/css" href="{%  static "css/common.css" %}">
        <title>list</title>
   </head>
 <body>
 	<input type="search" name="search" id="search_words" value="{{words}}"><br>
    <div id = "list">
    {% for data in datas %}
    <div class = "datas">
      <a href="datas/?name='{{data}}'">{{ data }}</a>
      <table>
       <tr>
        <td><img class="data" src="{% static "img/img.jpg" %}"></td>
        <td><img class="data" src="{% static "img/img.jpg" %}"></td>
       </tr>
       <tr>
        <td><img class="data" src="{% static "img/img.jpg" %}"></td>
        <td><img class="data" src="{% static "img/img.jpg" %}"></td>
       </tr>
      </table>
   </div>
   {% endfor %}
   </div>
 </body>
 <button id="search_more">显示更多......</button>
</html>
<script type="text/javascript" src="{%  static "jquery-3.4.1.min.js" %}"></script> 
<script type="text/javascript" src="{%  static "js/main.js" %}"></script>